@charset "UTF-8";
body {
  margin: 20px;
}

p {
  font-size: 16px;
  margin: 0;
}

h1 {
  margin: 40px 0 20px 0;
}

p, .header__link, .gallery__price, .gallery__caption, h1 {
  font-family: "Roboto", sans-serif;
}

p, .header__link, .gallery__price {
  font-weight: 500;
}

.hero__title, .article__title {
  font-weight: 600;
}

.gallery--title, .gallery__caption {
  font-weight: 700;
}

/*Hlavička + menu*/
.header {
  margin-bottom: 30px;
}
.header__menu--item {
  margin: 0;
  padding: 0;
  background-color: white;
}
.header__item {
  display: inline-block;
}
.header__link {
  display: inline-block;
  color: #F03000;
  text-decoration: none;
  padding: 20px 20px;
}
.header__link:hover {
  background-color: #F03000;
  color: white;
}
@media screen and (min-width: 0px) {
  .header__menu--item, .header__logo {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__logo {
    margin-left: 40px;
  }
}
@media screen and (min-width: 960px) {
  .header {
    max-width: 1160px;
    margin: 0 auto;
  }
}

/*První pruh + třetí pruh - fotogalerie*/
.gallery__description-1 {
  background-image: url("../img/palmy.png");
}
.gallery__description-2 {
  background-image: url("../img/jezero2.png");
}
.gallery__description-3 {
  background-image: url("../img/nakole.png");
}
.gallery__description-4 {
  background-image: url("../img/lodicka.png");
}
.gallery__description-5 {
  background-image: url("../img/podkova.png");
}
.gallery__description-6 {
  background-image: url("../img/zatoka.png");
}
.gallery__description {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.gallery--title {
  font-size: 28px;
  margin-bottom: 15px;
}
.gallery__caption {
  font-size: 20px;
  margin: 20px;
}
.gallery__price {
  background-color: #F03000;
  padding: 10px;
  align-self: start;
  font-size: 18px;
  margin: 20px;
}
@media screen and (min-width: 0px) {
  .gallery__description-1, .gallery__description-4 {
    height: 240px;
  }
  .gallery__description-2, .gallery__description-3, .gallery__description-5, .gallery__description-6 {
    height: 150px;
  }
  .gallery__description + .gallery__description {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .gallery__description + .gallery__description {
    margin-top: 0;
  }
  .gallery__description-1, .gallery__description-4 {
    grid-column: 1/-1;
    height: 380px;
  }
  .gallery__description-2, .gallery__description-5 {
    grid-column: 1/2;
    height: 180px;
  }
  .gallery__description-3, .gallery__description-6 {
    grid-column: 2/-1;
    height: 180px;
  }
}

@media screen and (min-width: 960px) {
  .grid-1, .grid-2 {
    max-width: 1160px;
    margin: 0 auto;
  }
  .bigleft {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .bigleft__1 {
    grid-column: 1/2;
    grid-row: span 2;
  }
  .bigleft__2, .bigleft__3 {
    grid-column: 2/-1;
  }
  .bigright {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }
  .bigright__4 {
    grid-column: 2/3;
    grid-row: span 2;
  }
  .bigright__5 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .bigright__6 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
/*Druhý pruh - obsah s ikonkami*/
@media screen and (min-width: 0px) {
  .hero__content {
    background-color: #F0F0F0;
    margin: 10px 0;
    display: flex;
  }
  .hero__icon {
    margin: 20px 20px 0 20px;
    height: 40px;
  }
  .hero__title {
    font-size: 18px;
    color: #F03000;
    padding: 20px 0 0 10px;
  }
  .hero__text {
    padding: 20px 20px 20px 10px;
  }
}

.flex {
  padding-top: 40px;
  max-width: 1160px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .flex .hero {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .flex .hero__content-1 {
    grid-column: 1/2;
  }
  .flex .hero__content-2 {
    grid-column: 2/3;
  }
  .flex .hero__content-3 {
    grid-column: 1/2;
  }
  .flex .hero__content-4 {
    grid-column: 2/3;
  }
  .flex .hero__content {
    margin: 0;
    flex-direction: column;
  }
  .flex .hero__title, .flex .hero__text {
    text-align: center;
  }
}
@media screen and (min-width: 960px) {
  .flex .hero {
    grid-template-columns: repeat(4, 1fr);
  }
  .flex .hero__content-1 {
    grid-column: 1/2;
  }
  .flex .hero__content-2 {
    grid-column: 2/3;
  }
  .flex .hero__content-3 {
    grid-column: 3/4;
  }
  .flex .hero__content-4 {
    grid-column: 4/5;
  }
}

/*Čtvrtý pruh - obsah bez ikon*/
@media screen and (min-width: 0px) {
  .article {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .article__content {
    grid-column: 1/-1;
    background-color: #F0F0F0;
    padding: 20px;
  }
  .article__date {
    color: #888888;
    margin-bottom: 10px;
  }
  .article__title {
    color: #F03000;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 960px) {
  .article {
    grid-template-columns: repeat(3, 1fr);
  }
  .article__content-1 {
    grid-column: 1/2;
  }
  .article__content-2 {
    grid-column: 2/3;
  }
  .article__content-3 {
    grid-column: 3/4;
  }
}

.grid-3 {
  max-width: 1160px;
  margin: 0 auto;
}

.footer {
  background-color: #444444;
  max-width: 1160px;
  margin: 0 auto;
}
.footer__text {
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  margin: 40px 0 40px 0;
}/*# sourceMappingURL=style.css.map */